.topHeroes {
  display: flex;
}

.top1,
.leftHeroes {
  flex: 1;
  text-align: center;
  color: #e0e0e0;
  font-size: 16px;
  font-weight: bold;
}

.top1 {
  position: relative;
  padding-top: 50%;
  background: rgb(96, 125, 139);
  ;
  display: flex;
  justify-content: center;
}

.top1Hero {
  position: absolute;
  top: calc(50% - 10px);

}

.leftHeroes {
  display: flex;
  flex-direction: column;

}

.top2,
.top3 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top2 {
  background: rgb(82, 94, 95);
  ;
}

.top3 {
  background: rgb(137, 202, 211);
  ;
}
